<div class="ui-g">
    <p-card
        class="ui-g ui-g-12 ui-lg-8 ui-lg-offset-2"
        title="Model Railroad Speed Calculator"
    >
        <div class="ui-g ui-g-12">
            <div class="ui-lg-6">
                <label for="scale">Scale</label>
                <p-dropdown
                    inputId="scale"
                    [(ngModel)]="scale"
                    [options]="scales"
                    [autoDisplayFirst]="false"
                    required="true"
                ></p-dropdown>
            </div>
            <div class="ui-lg-6">
                <label for="distance" class="control-label">Distance</label>
                <p-dropdown
                    inputId="distance"
                    [(ngModel)]="distance"
                    [options]="distances"
                    [autoDisplayFirst]="false"
                    required="true"
                ></p-dropdown>
            </div>
        </div>
        <div class="ui-g ui-g-12">
            <div class="ui-inputgroup ui-lg-6">
                <input
                    type="text"
                    pInputText
                    title="Time elapsed"
                    [readonly]="true"
                    [(ngModel)]="time">
                <span class="ui-inputgroup-addon">seconds</span>
            </div>
            <div class="ui-inputgroup ui-lg-6">
                <input
                    type="text"
                    pInputText
                    title="Speed"
                    [readonly]="true"
                    [(ngModel)]="speed">
                <span class="ui-inputgroup-addon">MPH</span>
            </div>
        </div>
        <div class="ui-g-12">
            <p-toggleButton
                [(ngModel)]="timerRunning"
                onLabel="Stop"
                offLabel="Start"
                (onChange)="calculateSpeed($event)"
            ></p-toggleButton>
        </div>
    </p-card>
</div>
