<div class="ui-g">
    <p-card
        class="ui-g-12 ui-lg-8 ui-lg-offset-2"
        title="Model Railroad Speed Calculator"
    >
        <div class="ui-g">
            <div class="form-group ui-lg-6">
                <label for="scale">Scale</label>
                <p-dropdown
                    inputId="scale"
                    [(ngModel)]="scale"
                    [options]="scales"
                    [autoDisplayFirst]="false"
                    required="true"
                ></p-dropdown>
            </div>
            <div class="form-group ui-lg-6">
                <label for="distance" class="control-label">Distance</label>
                <p-dropdown
                    inputId="distance"
                    [(ngModel)]="distance"
                    [options]="distances"
                    [autoDisplayFirst]="false"
                    required="true"
                ></p-dropdown>
            </div>
        </div>
        <div class="ui-g">
            <div class="form-group ui-lg-6">
                <label>Time</label>
                <span>{{time}}</span>
            </div>
            <div class="form-group ui-lg-6">
                <label>Calculated speed</label>
                <span>{{speed}} MPH</span>
            </div>
        </div>
        <div class="ui-g-12">
            <button
                pButton
                id="start"
                class="btn btn-primary btn-lg"
                (click)="calculateSpeed()"
            >Start
            </button>
        </div>
    </p-card>
</div>
